/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./Assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./Assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./Assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Navigation Styling */

nav.navbar {
  background-color: #b7b7bd;
  padding: 18px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  margin-right: 0px;
}

nav.navbar a.navbar-brand img{
  width: 100%;
  margin-right: 0%;
}

nav.navbar a.navbar-brand {
  text-align: left;
  width: 19%;
  margin-left: 0px;
  margin-right: 5%;
}

nav.navbar .container {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 500;
  text-wrap: nowrap;
  text-align: flex;
  height: 16px;
  color: #050c85;
  padding-right: 10px;
}

nav.navbar #basic-navbar-nav {
  float: right;
  text-align: right;
}

nav.navbar.navbar-expand-md.navbar-light {
  width: 100%;
}


/** Banner */

.banner {
  margin-top: 0;
  padding: 160px 0 100px 55px;
  background-image: url("./Assets/img/Home.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}

.banner .container {
  height: 100%;
  width: 100%;
}

.banner h2 {
  text-wrap: nowrap;
  font-size: 100;
  font-weight: 400;
  margin-bottom: 100px;
  width: 100%;
}
.banner h1 {
  text-align: left;
  font-size:90px;
  width: 100%;
}

.banner .getInTouch {
  background-color: #6367ba;
  border-radius: 5px;
  text-align: right;
  font-weight: 600;
  background-size: cover;
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 100px;
  margin-left: 70%;
  border: none;
}

.banner a {
  
}

.banner button:hover {
  background-color: #050c85;
  color: aliceblue;
}


/** About */

.about {
  padding-bottom: 10%;
  
}

.about #comp-picture.col-lg-6.col-md-12.col-sm-12.col-xs-12 img{
  width: 100%;
  background-color:#050c85 ;
}

.about #aboutContent.col-lg-6.col-md-12.col-sm-12.col-xs-12 {
  
}

.about .col-xl-7.col-md-6.col-12 {
  width: 100%;
}

.about .title-about {
  margin-top: 5%;
  margin-bottom: 5%;
}

.about .company-name {
  float: right;
  font-weight: 200;
}

.about .container {
  display: flex;
  column-gap: 20px;
  
}

.about #container1 p {
  text-align: justify;
}

.about .getInTouch {
  background-color: #6367ba;
  border-radius: 5px;
  text-align: right;
  font-weight: 600;
  background-size: cover;
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-left: 0px;
  border: none;
  float: left;
}

.about button:hover {
  background-color: #050c85;
  color: aliceblue;
}

#container2 {
  margin-top: 100px;
  display: flex;
}

.vision {
  width: 100%;
}


/** Services */

.services {
  background-image: url("./Assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.services .company-name {
  float: right;
  font-weight: 200;
}

.services .title-services {
  margin-top: 5%;
  margin-bottom: 5%;
}

.services .row #services-panels {
  align-items:start ;
  width: 75%;
  margin-left: 15.5%;
  padding-top: 0px;
  margin-bottom: 10%;
}

.services .panel.panel-default.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
 
 padding-top: 0px;
}

.services .panel-heading {
  background-color: #a2a6a3;
  border-style:groove ;
  border-color: black;
  height:60px;
  margin-top: 0px;
}

.services .panel-body {
  text-align: justify;
  background-color: floralwhite;
}


/** Associates */

.associates {
  background-color: white;
}

.associates .container {
  align-items: center;
}

.associates .company-name{
  float: right;
  font-weight: 200;
}


.associates .title-associates {
  margin-top: 5%;
  margin-bottom: 5%;
}

.associates #cont1 {
  margin-bottom: 8%;
}

.associates .director-tittle.col-1{
  font-weight: 500;
  font-size: 180%;
}

.associates .partner-h {
  font-size: 170%
}

.associates #about-director {
  text-align: justify;
  font-size: 170%
}

.associates .partner-p1 {
  text-align: justify;
  font-size: 180%
}