/** Contact */
.contact {
  background-image: url("./Assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .company-name{
  float: right;
  font-weight: 200;
}

.title-contact {
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}

.contact .input-box {
  margin-bottom: 5%;
}

.contact #input-boxes {
  width: 90%;
  margin-left: 5%;
  align-items:flex-start;
  margin-bottom: 5%;
}

.contact #input-boxes label {
  float: left;
  text-wrap: nowrap;
}

.contact .field {
  width: 80%;
  float: left;
  height: 50px;
  border: black;
  border-style: groove;
}

.contact #text-area1 {
  margin-bottom: 0px;
}

.contact button {
  background-color: #6367ba;
  color: aliceblue;
  border-radius: 15px;
  margin-left: 2%;
  height: 50px;
  position:inherit;
}

.contact button:hover {
  background-color:#050c85;
}

.contact .row .col-3 img {
  width: 100%;
}

.contact .copyrights{
  float: right;
  text-align: right;
  font-size: x-small;
}

.contact .bottomn {
  background-color: #7f8edd;
  text-align: center;
  align-items:center;
  font-size: 100%;
  color: white;
  letter-spacing: 0.79vw;
}

.contact .bottomn p{
  width: 100%;
}

.contact .pics {
  height: 100%;
}

.contact .pics img{
  border:transparent;
  border-style: double;
  height: 100%;
}

.contact .pics {
  height: 50%;
}

.contact #bottom-div {
  background-color: white;
}

.contact .info1 {
  font-size: 70%;
}

.contact p.success {
  color: green;
  text-align: left;
}

.contact p.danger {
  color: red;
  text-align: left;
}