.GetQuoteButton {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #007bff;
  padding: 10px 20px;
  text-align: center;
  box-shadow: -6px -6px 10px #f9f9f9,
                6px 6px 10px #00000026;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out;
}

.GetQuoteButton:hover {
  color: #232caa;
  background-color:#e7eaee;
  box-shadow: 2px 2px 2px #f9f9f9,
                -2px -2px 2px #00000026;
}
